.bg-login {
  background-image: url("../../assets/bg-login.png");
  height: 1080px;
  width: 1920px;
}

.bg-login-potrait {
  background-image: url("../../assets/bg-login-potrait.png");
  height: 1920px;
  width: 1080px;
}
